#wrapper {
    height: 100px;
    width: 100%;
    display: flex; 
    flex-direction: row; 
}

#sidebar {
    width: 30%;
    background-color: grey;
}

#content {
    width: 70%;
    background-color: darkolivegreen;
}